**/*.egg-info
**/*.orig
**/*.pcap
**/*.pyc
**/*.rej
**/*.retry
**/*.swp
**/.coverage
**/.eggs
**/.git
**/.idea
**/.mypy_cache
**/.tox
**/.venv
**/Pipfile
**/Pipfile.lock
**/__pycache__
**/build
**/dist
**/htmlcov
**/tmp
