[BASIC]

good-names = e,_

class-attribute-rgx = ([A-Za-z_][A-Za-z0-9_]{2,50}|(__.*__))$
method-rgx = [a-z_][a-z0-9_]{2,50}$
variable-rgx = [a-z_][a-z0-9_]{2,50}$

[MASTER]

load-plugins = pylint.extensions.no_self_use

[FORMAT]

max-line-length = 120

[MESSAGES CONTROL]

disable = missing-docstring
